@model IEnumerable<CongThongTinDHL.Models.Khoa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- blog section start -->
<div class="blog_section layout_padding">
    <div class="container">
        <h1 class="news_taital">Danh Sách Khoa</h1>
        <p class="news_text">Các khoa chính của Đại học Luật.</p>
        <div class="list_blog_1 row">
            @foreach (var item in Model)
            {
                <div class="blog_section_2 col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <img src="@item.AvatarKhoa" class="image_7" style="width:80%">
                        </div>
                        <div class="col-md-12">
                            <a >
                                <b>@item.TenKhoa</b>
                                <p class="ipsum_text">@item.MucTieu</p>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- blog section end -->