@model CongThongTinDHL.Models.CoCauToChuc

@{
    ViewData["Title"] = "Thêm Mới Cơ Cấu";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Thêm Mới</h1>

<h4>Cơ Cấu Tổ Chức</h4>
<hr />
<div class="row">
    <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-4">
                <label asp-for="MaTc" class="control-label">Mã Bài Viết</label>
                <input asp-for="MaTc" class="form-control" />
                <span asp-validation-for="MaTc" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <img id="image-preview" src="#" alt="" width="200">
            </div>
            <div class="form-group col-md-6">
                <label class="control-label">Chọn Ảnh</label>
                <input asp-for="ChoosePhoto" id="input-file" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="TenTc" class="control-label">Tên Bài Viết</label>
                <input asp-for="TenTc" class="form-control" />
                <span asp-validation-for="TenTc" class="text-danger"></span>
            </div>
        <div class="form-group col-md-8">
                <label asp-for="MoTaNgan" class="control-label">Mô tả ngắn</label>
                <textarea asp-for="MoTaNgan" class="form-control" ></textarea>
                <span asp-validation-for="MoTaNgan" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <label asp-for="MoChiTiet" class="control-label">Mô tả chi tiết</label>
                <textarea asp-for="MoChiTiet" id="summernote"></textarea>
                <span asp-validation-for="MoChiTiet" class="text-danger"></span>
            </div>
            <div class="form-group mt-2 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> Hiển thị
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            <a class="btn btn-light m-1" asp-action="Index">Quay lại</a>
            </div>
        </form>
    </div>
<script>
    $('#summernote').summernote({
        placeholder: 'Nhập thông tin...',
        tabsize: 2,
        height: 400,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
<script>
    const inputFile = document.getElementById("input-file");
    const imagePreview = document.getElementById("image-preview");

    inputFile.addEventListener("change", function () {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();

            reader.addEventListener("load", function () {
                imagePreview.setAttribute("src", this.result);
            });

            reader.readAsDataURL(file);
        }
    });
</script>
