@model IEnumerable<CongThongTinDHL.Models.Lop>

@{
    ViewData["Title"] = "Quản Lý Lớp";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh Sách Lớp</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Thêm</a>
</p>

<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Tên lớp</th>
            <th>Sĩ Số</th>
            <th>Khoa</th>
            <th>Trạng thái</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenLop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Siso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaKhoaNavigation.TenKhoa)
                </td>
                <td>
                    @if (item.Status == true)
                    {
                        <p>Hiển thị</p>
                    }
                    @if (item.Status == false)
                    {
                        <p>Đã tắt</p>
                    }
                </td>
                <td>
                    <a class="btn btn-primary m-1" asp-action="Edit" asp-route-id="@item.MaLop">Sửa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
