@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    CongThongTinDHL.Models.CongTTDHLuatContext db = new CongThongTinDHL.Models.CongTTDHLuatContext();
    var logo = db.Logos.FirstOrDefault(x => x.Status == true);
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserID");
    var fullName = HttpContextAccessor.HttpContext.Session.GetString("FullName");
    var roleName = HttpContextAccessor.HttpContext.Session.GetString("Role");
    var image = HttpContextAccessor.HttpContext.Session.GetString("Image");
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewData["Title"]</title>
  <link rel="shortcut icon" type="image/png" href="~/admin/assets/images/logos/favicon.png" />
    <link rel="stylesheet" href="~/admin/assets/css/styles.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="/" class="text-nowrap logo-img">
            <img src="@logo.AvatarLogo" width="60" alt="" />
            <h5>Admin</h5>
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="Home" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">THÀNH PHẦN</span>
            </li>
            <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="Logo" aria-expanded="false">
                <span>
                                    <i class="fas fa-file-image"></i>
                </span>
                <span class="hide-menu">Logo</span>
              </a>
            </li>
            <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="Banner" aria-expanded="false">
                <span>
                                    <i class="fas fa-images"></i>
                </span>
                <span class="hide-menu">Banner</span>
              </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="GioiThieu" aria-expanded="false">
                    <span>
                                    <i class="fas fa-pencil-alt"></i>
                    </span>
                    <span class="hide-menu">Giới Thiệu</span>
                </a>
            </li>
            <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="CoCauToChuc" aria-expanded="false">
                <span>
                                    <i class="fas fa-sitemap"></i>
                </span>
                <span class="hide-menu">Cơ Cấu Tổ Chức</span>
              </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="BaCongKhai" aria-expanded="false">
                    <span>
                                    <i class="fab fa-old-republic"></i>
                    </span>
                    <span class="hide-menu">Ba Công Khai</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="QuyDinhSV" aria-expanded="false">
                    <span>
                                    <i class="fas fa-gavel"></i>
                    </span>
                    <span class="hide-menu">Quy Định Sinh Viên</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="Khoa" aria-expanded="false">
                <span>
                                    <i class="fas fa-school"></i>
                </span>
                <span class="hide-menu">Khoa</span>
              </a>
            </li>
            <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="Phongs" aria-expanded="false">
                <span>
                                    <i class="fas fa-warehouse"></i>
                </span>
                <span class="hide-menu">Phòng</span>
              </a>
            </li>
            <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="Lop" aria-expanded="false">
                    <span>
                                    <i class="fas fa-graduation-cap"></i>
                    </span>
                    <span class="hide-menu">Lớp</span>
                </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">BÀI VIẾT -THÔNG BÁO</span>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="ChuDe" aria-expanded="false">
                    <span>
                        <i class="ti ti-typography"></i>
                    </span>
                    <span class="hide-menu">Chủ Đề</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="BaiViet" aria-expanded="false">
                    <span>
                                    <i class="ti ti-file-description"></i>
                    </span>
                    <span class="hide-menu">Bài Viết</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="ThongBaoKhoa" aria-expanded="false">
                    <span>
                                    <i class="ti ti-bell-ringing"></i>
                    </span>
                    <span class="hide-menu">Thông Báo Khoa</span>
                </a>
            </li>
            <li class="sidebar-item">
                            <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="ThongBaoPhong" aria-expanded="false">
                    <span>
                        <i class="ti ti-bell-ringing"></i>
                    </span>
                    <span class="hide-menu">Thông Báo Phòng</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="ThongBaoSV" aria-expanded="false">
                    <span>
                                    <i class="ti ti-bell-ringing"></i>
                    </span>
                    <span class="hide-menu">Thông Báo Sinh Viên</span>
                </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">SINH VIÊN - GIẢNG VIÊN</span>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="SinhVien" aria-expanded="false">
                <span>
                                    <i class="fas fa-user-graduate"></i>
                </span>
                <span class="hide-menu">Sinh Viên</span>
              </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" asp-area="Admin" asp-action="Index" asp-controller="GiangVien" aria-expanded="false">
                <span>
                                    <i class="fas fa-user-tie"></i>
                </span>
                <span class="hide-menu">Giảng Viên</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                                    @if (image != null)
                                    {
                                        <img src="@image" alt="" width="35" height="35" class="rounded-circle">
                                    }
                                    else
                                    {
                                        <img src="~/admin/assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                                    }
                                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                      <a href="/AdminDashboard/Edit/@userId" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="Home/Logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
                @RenderBody()
      </div>
    </div>
  </div>
  <script src="~/admin/assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="~/admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/admin/assets/js/sidebarmenu.js"></script>
  <script src="~/admin/assets/js/app.min.js"></script>
  <script src="~/admin/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>        
      
