@model CongThongTinDHL.Models.QuyDinhSv

@{
    ViewData["Title"] = "Xóa Quy Định";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Xóa Quy Định Sinh Viên</h1>
<h3>Bạn có chắc muốn xóa quyết định không?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Tên Quyết Định
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenQd)
        </dd>
        <dt class = "col-sm-2">
            Mô tả ngắn
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaNgan)
        </dd>
        <dt class = "col-sm-2">
            Ngày đăng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayDang)
        </dd>
        <dt class = "col-sm-2">
            Trạng thái
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Status == true)
            {
                <p>Hiển thị</p>
            }
            @if (Model.Status == false)
            {
                <p>Đã tắt</p>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaQdsv" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-light m-1" asp-action="Index">Quay lại</a>
    </form>
</div>
