@model CongThongTinDHL.Models.QuyDinhSv

@{
    ViewData["Title"] = "Sửa Quy Định";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>QuyDinhSv</h4>
<hr />
<div class="row">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaQdsv" />
        <div class="form-group col-md-6">
            <label asp-for="TenQd" class="control-label">Tên Quy Định</label>
            <input asp-for="TenQd" class="form-control" />
            <span asp-validation-for="TenQd" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="MoTaNgan" class="control-label">Mô Tả Ngắn</label>
            <textarea asp-for="MoTaNgan" class="form-control"></textarea>
            <span asp-validation-for="MoTaNgan" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <label asp-for="MoChiTiet" class="control-label">Mô tả chi tiết</label>
            <textarea asp-for="MoChiTiet" id="summernote" class="form-control"></textarea>
            <span asp-validation-for="MoChiTiet" class="text-danger"></span>
        </div>
        <div class="form-group mt-2 form-check">
            <label class="form-check-label">
                <input class="form-check-input" asp-for="Status" /> Hiển thị
            </label>
        </div>
        <div class="form-group">
            <input type="submit" value="Lưu" class="btn btn-primary" />
            <a class="btn btn-light m-1" asp-action="Index">Quay lại</a>
        </div>
        </form>
    </div>

<script>
    $('#summernote').summernote({
        placeholder: 'Nhập thông tin...',
        tabsize: 2,
        height: 400,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>
