@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Đổi Mật Khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var userId = HttpContextAccessor.HttpContext.Session.GetString("UserID");
}
<div class="card mb-3">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h4 class="m-0 font-weight-bold text-primary">Đổi mật khẩu</h4>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="card-body">
                <form method="post" asp-action="ChangPassWordAdmin" asp-controller="AdminDashboard">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="oldPassword">Mật khẩu cũ:</label>
                        <input type="password" class="form-control" id="oldPassword" name="oldPassword">
                        <span id="oldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Mật khẩu mới:</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword">
                        <span id="newPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="cfPassword">Xác nhận mật khẩu:</label>
                        <input type="password" class="form-control" id="cfPassword" name="cfPassword">
                        <span id="oldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                        <a href="/AdminDashboard/Edit/@userId" class="btn btn-secondary">Quay lại</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


