@model IEnumerable<CongThongTinDHL.Models.Logo>

@{
    ViewData["Title"] = "Quản Lý Logo";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Danh Sách Logo</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Thêm Logo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ảnh Logo
            </th>
            <th>
                Ngày tạo
            </th>
            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@item.AvatarLogo" width="60"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                    @if (item.Status == true)
                    {
                        <p>Hiển thị</p>
                    }
                    @if (item.Status == false)
                    {
                    <p>Đã tắt</p>
                    }
            </td>
            <td>
                <a class="btn btn-primary m-1" asp-action="Edit" asp-route-id="@item.MaLogo">Sửa</a>
                <a class="btn btn-danger m-1" asp-action="Delete" asp-route-id="@item.MaLogo">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
